# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal
media/*
!media/.gitkeep

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
